.visionSectionHeading.bookHeading {
  text-align: center;
}

.OrderDetails {
  background-color: #edd4c2;
  border: 1px solid #704625;
  margin: 52px 40px;
  padding: 20px;
}

.det1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 88px;
}
.det1 .detimage {
  width: 8rem;
  height: 11rem;
  border-radius: 1rem;
}
.det1 .bookname,
.det1 .orderinfo .quantity,
.det1 .orderinfo .price {
  font-size: 26px;
  color: #bf9270;
  font-weight: 700;
}
hr {
  width: 86%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: #bf9270;
  opacity: 50%;
  border: 0 none;
}
.priceInfo {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: #704625;
  padding: 10px 0;
}
.pdelevery {
  display: contents;
}
